@using Microsoft.VisualStudio.Web.CodeGenerators.Mvc.Templates.BlazorIdentity.Pages
@{
    ViewData["Title"] = "Skandinaviskt Städ och IT";
}

<section class="carousel-layer">
    <div class="container-fluid px-0">
        <div class="mx-auto" style="width: 100%; max-width: 1350px;">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width: 100%;">
                <div class="carousel-inner" style="height: 300px;">
                    <div class="carousel-item active">
                        <img src="~/images/floor_landing.png"
                             class="d-block w-100"
                             style="object-fit: cover; height: 100%; width: 100%"
                             alt="Business English Certificate">

                        <div class="carousel-caption d-md-block">
                            <h5 class="text-white">Endast 125 kr timmen med Rut-avdrag. Det har aldrig varit så billigt</h5>
                            
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/banner_7.png"
                        class="d-block w-100"
                        style="object-fit: cover; height: 100%; width: 100%"
                        alt="Business English Certificate">

                        <div class="carousel-caption d-md-block">
                            <h5 class="text-white">Professionellt. Modernt. Ett litet företag med ett stort hjärta</h5>

                        </div>
   
                    </div>
               
                </div>
                    
                </div>

            
            </div>
        </div>
   
</section>



<!-- Call to Action -->
<section>
      <div class="text-center py-5 bg-light">
        <h3 class="display-5" style="color: #052742;">Fint tvättade mattor. Rena fönster. Ett städat kök.</h3>
        <p class="lead"> Drömmer du om ett rent hem? Boka privat städ idag! Du möter alltid samma trygga person som talar Svenska.</p>
        <a href="https://www.scservices.se/contact/" class="custom-button">Boka in ett hembesök här!</a>
    </div>
</section>



<!-- Card Grid Section (Mockup no Links) -->


<section>
    <div class="container my-3">
        <div class="row">
          
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="~/images/first_small.png"
                         class="card-img-top"
                         alt="Bayley-4">
                    <div class="card-body">
                        <h5 class="card-title">Miljövänligt Städ</h5>
                        <p class="card-text">Vi erbjuder miljövänligt städ där vi enbart använder utvalda miljömärkta produkter! Vårt städ är certifierat miljövänligt samt använder en specifik arbetsprocess baserad på vetenskapliga fynd blandat med erfarenhet. Det innebär i kort att vi använder minsta möjliga mängd svårlösta kemikalier och i större utsträckning använder vatten och ånga. Du är välkommen att ställa frågor även i person</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="custom-button-landing" aria-label="Läs mer om miljövänligt städ">Läs mer</a>
                    </div>
                </div>
            </div>
          
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="~/images/second_small.png"
                         class="card-img-top"
                         alt="Digital testing">
                    <div class="card-body">
                        <h5 class="card-title">Grundlig tvätt av Sopkärl och Trädgård</h5>
                        <p class="card-text">Du kan boka mer än bara städ! Vi har flera tillval som är möjliga att boka in under samma dag. Visste du t.ex. att med rut-avdrag så går det även att beställa trädgårdstjänster? Så om t.ex. ditt avfallskärl behöver städas eller om gräsmattan behövs klippas så går även detta att beställa till! </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="custom-button-landing" aria-label="Läs mer om våra tjänster och konsulter">Läs mer</a>
                    </div>
                </div>
            </div>
         
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="~/images/third_small.png"
                         class="card-img-top"
                         alt="Training programs">
                    <div class="card-body">
                        <h5 class="card-title">Fönsterputs</h5>
                        <p class="card-text">Det är inte alltid lätt att tvätta fönster och det behövs definitivt erfarenhet för att ge korrekt finnish. Vi använder de senaste verktygen inom städ. Det är samma verktyg som för industriellt städ och ingår i Städpaket Normal</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="custom-button-landing" aria-label="Läs mer about training programs">Läs mer</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="~/images/fourth_small.png"
                         class="card-img-top"
                         alt="Articles and information">
                    <div class="card-body">
                        <h5 class="card-title">Tvätt av mattor</h5>
                        <p class="card-text">Tvätt av mattor med industrimedel för svårare fläckar och mild ångtvätt för veckostäd</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="custom-button-landing" aria-label="Läs mer about articles and information">Läs mer</a>
                    </div>
                </div>
            </div>
         
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="~/images/banner_8.png"
                         class="card-img-top"
                         alt="Age calculator">
                    <div class="card-body">
                        <h5 class="card-title">Enklare Städpaket</h5>
                        <p class="card-text">Vi erbjuder ett snabbare städ där det ingår: Dammning, dammsugning, toalett, soptömning, och tvätt av ytor. Utan timpeng utan istället med beräknad kostnad och klart mellan 2-3 timmar</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="custom-button-landing" aria-label="Test the age calculator">Läs mer</a>
                    </div>
                </div>
            </div>
       
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://www.pearsonclinical.se/media/kp/352x198/man-sitting-in-window-with-laptop.jpg"
                         class="card-img-top"
                         alt="Kontakta oss">
                    <div class="card-body">
                        <h5 class="card-title">Kontakta oss</h5>
                        <p class="card-text">Om det finns frågor eller ni vill boka tjänst per telefon ring mig på +460793371095</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="custom-button-landing" aria-label="Contact customer service">Mejla oss här!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>